<h1>Products</h1>

<%= cart.each do |p| %>
  <%= p %>
<% end %>

<%= form_tag ({contoller: "products", action: "add", method: "post"}) do %>
  <input name=product>
  <input type=submit value="add to cart">
<% end %>
